#footer {
    /* background: linear-gradient(208deg, #4584ff 0, #4584ff 11%, #ff7676 100%) !important; */
}

#aside-content #card-toc .toc-content ol {
    font-size: 18px !important;
    /* font-weight: 400; */
}
    
#article-container {
    /* font-size: 18px !important; */
    /* color: #424242; */
    /* font-weight: 400;
    word-wrap: break-word;
    line-height: 1.334;
    color: #000; */
    /* text-align: justify; */
    letter-spacing: 0.015rem;
    /* line-height: 1.6; */
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #273239;
    text-align: left !important;
}

.post-bg {
    object-fit: fill !important;
}